@import 'nib'

@import 'styl/_mixins'

bg = #111
white = #ecf0f1
red = #e74c3c


drawer-height = 275px

med = 600px
lar = 800px


html
  box-sizing border-box

*, *:before, *:after
  box-sizing border-box

html
    height 100%

body
    border 10px solid white
    background url(/stardustd.png) bg
    color white
    padding 0
    margin 0
    min-height 100%
    roboto()

// Offscreen forms
#form-toggle
    z-index 10
    position fixed
    left 8px
    bottom 80px
    width 60px
    height @width
    transform rotate(-90deg)
    transition all 0.2s ease
    path
        fill white

.forms
    display none
    position fixed
    padding 20px
    height drawer-height
    background rgba(white, 0.98)
    color bg
    transition all 0.3s ease-out
    height 100%
    transform translateX(-100%)
    box-shadow 0 -2px 4px rgba(black, 0.5)
    z-index 100
    top 0
    left 0
    &.open
        transform translateX(0)
    +above(med)
        display block

.forms-close
    position absolute
    right 5%
    font-size 32px
    transform scale3d(1, 0.8, 1)
    top 1%

.new-course
    margin-bottom 20px
    margin-right 60px

.edit-toggle
    z-index 10
    position fixed
    bottom 10px
    left 10px
    transition all 0.2s ease
    path
        transition all 0.2s ease
        fill white
    &.open
        transform rotate(45deg)
        path
            fill red


// Navigation aka the Courses List
.courses
    &.loading ul
        opacity 0
        transition all 2s ease
        transform translateY(-80%)
    ul
        display none
        margin 0
        padding 0
        list-style none
        opacity 1
        transition all 2s ease
        clearfix()
        li
            float left
            margin 0 10px 10px 0
    select
        margin 0
        width 100%
        text-align center
    +above(lar)
        padding 20px
        display block
        select
            display none
        ul
            display block

button, input[type=submit]
    roboto()
    -webkit-appearance none
    background transparent
    color white
    border solid 2px @color
    padding 8px 20px
    outline none
    font-size 1.4rem
    transition all 0.2s ease
    cursor pointer
    &:hover
        background white
        color bg
    &.inverted
        box-shadow 1px 1px 3px rgba(black, 0.3)
        color bg
        border-color @color
        &:hover
            background bg
            color white

input[type=text], select
    font-size 1.4rem
    padding 8px
    background white
    box-shadow none
    border none
    border-bottom 2px solid white - 40
    margin-right 20px
    margin-bottom: 20px

input[type="checkbox"]
    display none
    & + label
        position relative
        &:before
            cursor pointer
            content ''
            display inline-block
            width 40px
            height 40px
            position relative
            border-radius 0%
            vertical-align middle
            border 4px solid white
            margin-left 1rem

.check
    position absolute
    right 2px
    top 27px
    width 35px

.check path
    stroke white
    stroke-width 1px
    fill transparent
    stroke-dasharray 99.47578430175781
    stroke-dashoffset -99.47578430175781
    transition stroke-dashoffset 0.8s ease 0.2s, fill 0.2s ease

.check.checked path
    stroke-dashoffset 0
    fill #fff
    transition stroke-dashoffset 0.8s ease, fill 0.2s ease 0.8s


select
    -webkit-appearance none
    border-radius 0
    background white
    border solid 1px white - 40


.container
    padding 20px
    position relative
    min-height 300px
    +above(lar)
        padding 0

.course-details
    animation: play 1.5s
    text-align center
    h2
        text-transform uppercase
    p
        font-size 1.6rem
    +above(lar)
        float left
        text-align left
        margin-left 20px


@keyframes play
    from
        opacity 0
        transform translateX(-100px)
    to
        opacity 1
        transform translateX(0)


#items
    list-style none
    text-align right
    padding 0
    position fixed
    overflow-y scroll
    bottom 0
    top 80px
    left 40px
    right 40px
    li
        font-size 1.6rem
        position relative
        .drag
            overflow hidden
            position relative
            display inline-block
            width 40px
            height @width
            cursor grab
            cursor -webkit-grab
            cursor -moz-grab
            svg
                position absolute
                width 40px
                height @width
                right -100%
                transition all 0.2s ease
                opacity 0
        .title
            position relative
            transition all 0.6s ease
            transition-delay 0.6s
            &:after
                content ''
                transition all 0.6s ease
                width 0%
                right 0
                top 50%
                background red
                position absolute
                height 4px
        &.checked
            .title
                opacity 0.5
                &:after
                    width 100%
    &:hover
        li
            .drag
                svg
                    right 0
                    opacity 1
    +above(med)
        top 180px
        li
            font-size 2rem
    +above(lar)
        top 100px
        li
            font-size 3rem
    +above(1000px)
        li
            font-size 4rem


#reorder
    fill white


// Edit Mode
.delete-video
    font-size 30px
    padding 10px 20px
    background red
    color black
    font-weight bold
    position relative
    top -8px


// hide login
#login-buttons
    display none


.welcome
    animation fade 2s
    font-size 4rem
    text-align center
    opacity 0.9

@keyframes fade
    from
        opacity 0
        transform translateY(100px)
    to
        opacity 0.9
        transform translateX(0)